.containerPaginas {
  width: 90vw;
  margin: 50px auto;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardPaginas {
  height: 275px;
}

.containerImagem {
  background-color: #90ee90;
  width: 100%;
  height: 120px;
}

.containerImagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoriasContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.categoriaCard {
  background-color: gray;
  border-radius: 5px;
  height: 25px;
  width: 80px;
  line-height: 25px;
  text-align: center;
}

.categoriaCard p {
  color: white;
  font-weight: bold;
  font-size: x-small;
  padding: 0 10%;
}

.categoriaCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
